{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tata Consultancy Services Ltd</title>
    <link rel="stylesheet" href="{% static 'css/fundamentals.css' %}">
</head>
<body>
{% include 'majorApp/navigation.html' %}
{% block content %}
    <div class="container1">
        <div class="header1">
            <h1>{{ company_name }} Fundamentals</h1>
        </div>
        <div class="links1">
            <a href="https://tcs.com">tcs.com</a>
            <a href="#">BSE: 532540</a>
            <a href="#">NSE: TCS</a>
        </div>
        <div class="content1">
            <div class="info1">
                <div class="row1">
                    <div class="col1">
                        <span class="label1">Market Cap</span>
                        <span class="value1">₹ 13,27,764 Cr.</span>
                    </div>
                    <div class="col1">
                        <span class="label1">Current Price</span>
                        <span class="value1">₹ 3,670</span>
                    </div>
			        <div class="col1">
                        <span class="label1">Dividend Yield</span>
                        <span class="value1">1.50%</span>
                    </div>
                    <div class="col1">
                        <span class="label1">Dividend Yield</span>
                        <span class="value1">1.50%</span>
                    </div>
                </div>
                <div class="row1">
                    <div class="col1">
                        <span class="label1">Market Cap</span>
                        <span class="value1">₹ 13,27,764 Cr.</span>
                    </div>
                    <div class="col1">
                        <span class="label1">Current Price</span>
                        <span class="value1">₹ 3,670</span>
                    </div>
		            <div class="col1">
                        <span class="label1">Dividend Yield</span>
                        <span class="value1">1.50%</span>
                    </div>
                    <div class="col1">
                        <span class="label1">Dividend Yield</span>
                        <span class="value1">1.50%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions1">
            <button>EXPORT TO EXCEL</button>
            <button>FOLLOW</button>
        </div>
    </div>
{% endblock %}
