{% load static %}

{% load custom_filters1 %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Investology-Projections{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/fundamentals.css' %}">
    <style>
        .plot-container {
            justify-content: center;
            margin: 50px 50px;
        }
    </style>
</head>
<body>
{% include 'majorApp/navigation.html' %}
{% block content %}
    <div class="container1">
        <div class="header1">
            <h1>{{ company_name }} Projections</h1>
        </div>
        <div class="links1">
            <a href="#">Website: {{website}}</a>
            <a href="#">NSE: {{company_name}}</a>
        </div>
        <div class="content1">
            <div class="info1">
                <div class="row1">
                    <div class="col1">
                        <span class="label1">Current Price</span>
                        <span class="value1">₹ {{current_price|floatformat:2}}</span>
                    </div>
                    <div class="col1">
                        <span class="label1">Last Price</span>
                        <span class="value1">₹ {{yesterday_price|floatformat:2}}</span>
                    </div>
                    <div class="col1">
                        <span class="label1">52 Week Low</span>
                        <span class="value1">₹ {{52_week_low|floatformat:2}}</span>
                    </div>
                    <div class="col1">
                        <span class="label1">52 Week High</span>
                        <span class="value1">₹ {{52_week_high|floatformat:2}}</span>
                    </div>
                </div>
                <div class="row1">
                    <div class="col1">
                        <span class="label1">Today Open</span>
                        <span class="value1">₹ {{open|floatformat:2}}</span>
                    </div>
                    <div class="col1">
                        <span class="label1">Today High</span>
                        <span class="value1">₹ {{high|floatformat:2}}</span>
                    </div>
                    <div class="col1">
                        <span class="label1">Today Low</span>
                        <span class="value1">₹ {{low|floatformat:2}}</span>
                    </div>
                    <div class="col1">
                        <span class="label1">Today Close</span>
                        <span class="value1">₹ {{close|floatformat:2}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--
    <div class="container1">
            <div class="header1">
                <h1>{{ company_name }} 30 Days Projections</h1>
            </div>
            <div class="content1">
                <div class="info1">
                    <p style="color=black;">{{predicted_prices}}</p>
                </div>
            </div>
    </div>
    -->
<div class="plot-container">
    <div>{{ plotly_image1 | safe }}</div>
</div>

<div class="plot-container">
    <div>{{ plotly_image2 | safe }}</div>
</div>

<div class="plot-container">
    <div>{{ project | safe }}</div>
</div>

{% endblock %}
